*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: "roboto";
    src: url("./font/Roboto/Roboto-Regular.ttf");
}

body{
    font-family: roboto;
}

.container-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
}

.container-wrapper .sidebar-wrapper{
    display: grid;
    row-gap: 15px;
    height:100vh;
    padding-bottom: 170px;
    padding-top: 10px;
    padding-left: 15px;
    grid-template-columns: 0.5fr 2fr;
    align-items: center;
    background-color: #1992d4;
    

}

.sidebar-wrapper img:nth-child(1){
    width: 50px;
    height: auto;
    margin-bottom: 30px;
}

.sidebar-wrapper span{
    color: white;
    font-size: 18px;
    font-weight: 600;
    height: auto;
}

.sidebar-wrapper .heading{
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
    
}
span + img:nth-child(13){
    margin-bottom: 50px;
    
}


img + span:nth-child(14){
    margin-bottom: 50px;

}

.sidebar-wrapper img{
    width: 40px;
    height: auto;
}